    <!--  La plantilla de la barra de navegaci칩n para la p치gina de inicio-->
    <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">  
        <div class="container-fluid">
          <h2>Administraci칩n de Activos &nbsp</h2>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Proyectos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/activeProjects">Activos</a></li>
                  <li><a class="dropdown-item" href="/inactiveProjects">Inactivos</a></li>
                </ul>
              </li>
              &nbsp
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tareas
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/activeTasks">Activas</a></li>
                  <li><a class="dropdown-item" href="#">Inactivas</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     <!-- Fin de la plantilla de la barra de navegaci칩n  -->