
<%- include('../partials/head.ejs') %>

<%- include('../partials/homeNav.ejs') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <img
                src="../../public/uwe-hensel-44Uz2J7z9Rg-unsplash.jpg"
                class="img-fluid rounded-top"
                alt="Proyectos"
            />
            
        </div>
    </div>
</div>

<%- include('../partials/foot.ejs') %>